<link rel="stylesheet" href="/css/user_interface.css">

<script src="/js/user_interface_development.js"></script>

<div><%= erb :"/partials/_navbar"  %></div>


<div class="container">

  <h1>Create your Sequence, <%= @user.name %>!</h1>

  <form action='/ui/create' id='create' method="post">
    <input type="text" name="seq_name" placeholder="name your sequence">
    <table>
      <% @sounds.each_with_index do |sound, i| %>
        <tr>
          <td>
            <select name="sp<%= i + 1%>[id]" form='create'>
              <% @sounds.each do |sound| %>
               <option value="<%= sound.id %>"><%= sound.name %></option>
              <% end %>
            </select>
        </td>

          <% @beats.each do |beat| %>
            <td><input type="checkbox" name="sp<%= i + 1%>[beat_<%= beat %>]" value="<%= beat %>"></td>
          <% end %>

        </tr>
      <% end %>
    </table>

    <br><br>
    <input type="hidden" name = "total_beats" value="<%= @beats.length %>">
    <input type="submit" value="Save Sequence">
  </form>

  <button id="play_button">Play!</button>





</div>
