<link rel="stylesheet" href="/css/user_interface.css">

<script src="/js/user_interface_development.js"></script>

<div><%= erb :"/partials/_navbar"  %></div>


<div class="container">

  <h1>Create your Sequence, <%= @user.name %>!</h1>

  <form action='/ui/create' id='create' method="post">
    <input type="text" name="seq_name" placeholder="name your sequence">
    <input type="text" name="seq_tempo" placeholder="tempo (beats/min)">
    <input type="hidden" name = "seq_user_id" value="<%= @user.id %>">
    <input type="hidden" name = "seq_beats" value="<%= @beats.length %>">

    <table>
      <% @patterns.each do |pattern| %>
        <tr>
          <td>
            <select name="sound<%= pattern %>_id" form='create'>
              <% @sounds.each do |sound| %>
                <option value="<%= sound.id %>"><%= sound.name %></option>
              <% end %>
            </select>
          </td>
          <% @beats.each do |beat| %>
            <td><input type="checkbox" name="pattern<%= pattern %>[<%= beat %>]" value=true></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <br><br>
    <input type="submit" value="Save Sequence">
  </form>

  <button id="play_button">Play!</button>





</div>
