<link rel="stylesheet" href="/css/user_interface.css">

<script src="/js/user_interface_development.js"></script>

<div><%= erb :"/partials/_navbar"  %></div>


<div class="container">

  <h1>Create your Sequence, <%= @user.name %>!</h1>

  <form action='/ui/create' id='create' method="post">
    <input type="text" name="seq_name" placeholder="name your sequence">
    <table>
      <% @drums.each do |drum| %>
        <tr>
          <td>
            <select name="drum_<%= drum %>" form='create'>
              <% @sounds.each do |sound| %>
               <option value="<%= sound.id %>"><%= sound.name %></option>
              <% end %>
            </select>
        </td>

          <% @beats.each do |beat| %>
            <td><input type="checkbox" name="beat_<%= beat %>" value="<%= beat %>"></td>
          <% end %>

        </tr>
      <% end %>
    </table>

    <br><br>

    <input type="submit" value="Save Sequence">
  </form>

  <button id="play_button">Play!</button>





</div>
