<link rel="stylesheet" href="/css/user_interface.css">



<div><%= erb :"/partials/_navbar"  %></div>

<div class="container">

  <h1>Sequence by <%= @user.name %>!</h1>

  <form action='/ui/<%= @sequence.id %>/save' method="post">
    <input type="hidden" name="_method" value="put" />
    <table>
      <% @soundpatterns.each do |sp| %>
        <tr class="<%= sp.sound.name %>">
          <td><%= sp.sound.name %></td>

          <% sp.beats.order(:position).each do |beat| %>
            <td class="<%= sp.sound.name %><%= beat.position %>">
              <input type="checkbox" name="<%= sp.sound.id %>[]" value="<%= beat.id %>" id="<%= beat.id %>"<% if beat.play == true %>checked<% end %>>
              <label for="<%= beat.id %>"><span></span></label>
            </td>
          <% end %>

        </tr>
      <% end %>
    </table>

    <br><br>
    <input type="submit" value="Save Sequence">
  </form>

  <br><br>

  <button id="playButt">Play</button>
  <button id="stopButt">Stop</button>

<form action='/ui/<%= @sequence.id %>/delete' method="post">
  <input type="hidden" name="_method" value="delete" />
  <button id="deleteButt">Delete</button>
</form>





</div>
